

//-----4-----//

.tbstyle {
	width: 500px;
	margin: 0px auto;
}
table{
	width: 100%;
	border-collapse: collapse;
}
table tr td{
	width: 50%;
	border: 1px solid #D0F5A9;
	padding: 5px;
}
table tr th{
	border: 1px solid #D0F5A9;
	padding: 5px;
}
#zebra{
	background-color: #D0F5A9;
}